/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set a global font-family */
body {
  font-family: 'Segoe UI';
  background-color: #222;
  color: #fff;
  padding: 10%;
}

#app-content {
  position: relative;
}

#loading-wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 30px;
  height: 70px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
h5 {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  text-align: center;
  margin: 20px 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  padding-left: 1em;
  margin: 0px 0;
  color: #fff;
  letter-spacing: 2px;
}

#save-to-log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}

.save-button {
  width: 160px;
  height: 30px;
  font-size: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#save-notification {
  font-size: 12px;
  color: #ffffff;
}


/* Style the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Style the textareas */
textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  resize: none;
  font-family: 'Segoe UI';
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background-color: #444;
  margin-top: 10px; /* Adjust the margin as needed */
}
/* Style the voice select dropdown */
#voice-select {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0 30px 0 10px;
  background-position: right 10px center;
}

#voice-select:focus {
  background-color: #444 !important;
}

/* Style the label and range sliders */
label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #007bff;
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
  margin-top: -5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

  /* Style the buttons */
  button {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
  background-color: #0062cc;
  }

/* Style the SSML buttons container */
.ssml-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Style the SSML buttons */
.ssml-buttons button {
  font-family: 'Segoe UI';
  padding: 10px 10px;
  font-size: 12px;
  letter-spacing: 1px;
}
.error-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.error-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.error-modal-content h2 {
  margin-top: 0;
}

.error-modal-content button {
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: #222;
  border-radius: 8px;
  padding: 30px;
  width: 80%;
  max-width: 400px;
}

.overlay label {
  display: block;
  margin-bottom: 10px;
}

.overlay input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.overlay button {
  padding: 5px 15px;
  margin-right: 10px;
  border: none;
  background-color: #007acc;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.overlay button:last-child {
  background-color: #f44336;
}
.hidden {
  display: none;
}

.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.error-modal-content {
  background-color: #e74c3c; /* Red background color */
  color: #fff; /* White text color */
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.error-modal-content h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.error-modal-content p {
  font-size: 1em;
  margin-bottom: 20px;
}

.error-modal-content button {
  background-color: #3498db;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.error-modal-content button:hover {
  background-color: #2980b9;
}

.error-modal-content button:last-child {
  margin-left: 10px;
}

/* Style the ssml-template-select dropdown */
#ssml-template-select {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0 30px 0 10px;
  background-position: right 10px center;
}

#ssml-template-select:focus {
  background-color: #444 !important;
}


#auth-button-container {
  position: absolute;
  top: 10px;
  right: 6em;
}

#auth-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#auth-button:hover {
  background-color: #0062cc;
}

#user-name {
  position: flex;
  top: 10px;
  right: 10em;
  color: #fcfcfc;
  font-size: 14px;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #222;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #fff;
  font-family: 'Segoe UI';
}

.close {
  color: #5e5e5e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#update-checker {
  font-size: 12px;
  padding: 10px;
  text-align: left;
  margin-top: 20px;
}

#check-for-updates {
  color: #ffffff;
  text-decoration: none;
}

#check-for-updates:hover {
  color: #0056b3;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hamburger Menu */
#hamburger-menu {
  position: fixed;
  top: 2em;
  left: 2em;
  cursor: pointer;
  z-index: 3;
}

#hamburger-menu div {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
}

/* Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding-top: 2em;
  background-color: #333; /* Dark grey color */
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 2;
}

#overlay a {
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
}

#overlay-item a:hover {
  color: #007bff;
}


/* Overlay Background */
body.overlay-open:not(#overlay):not(#hamburger-menu) {
  background-color: rgba(0, 0, 0, 0.9);
}

#overlay-item {
  margin-top: 3em;
    position: relative;
    padding: 0px;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  

/* The About Modal (background) */
.about-modal {
  display: none; 
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

/* About Modal Content/Box */
.about-modal-content {
  background-color: #3a3939;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.update-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-modal-content {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.update-modal-content h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #007bff;
}

.update-modal-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.update-modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.update-modal-content button:hover {
  background-color: #0062cc;
}

#log-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#log-modal .modal-content {
  background-color: #3a3939;
  color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

#log-modal .modal-content table {
  width: 100%;
  border-collapse: collapse;
}

#log-modal .modal-content table td {
  padding: 10px;
  border: 1px solid #fff;
}

#log-modal .modal-content table tr.selected {
  background-color: #007bff;
  color: #fff;
}

#log-modal .modal-content button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#log-modal .modal-content button:hover {
  background-color: #0062cc;
}

#log-modal .modal-content button.show {
  display: inline-block;
}

#log-modal #refresh-log-btn,
#log-modal #import-button,
#log-modal #delete-button {
  margin: 10px;
}

#log-table-container {
  max-height: 600px;
  overflow-y: auto;
}

body.modal-open {
  overflow: hidden;
}
#log-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

#log-search-bar input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

#log-search-bar button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#log-table-container {
  position: relative;
}

#log-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#log-buttons-container button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#log-buttons-container button + button {
  margin-left: 10px;
}

#log-buttons-container button#delete-button {
  background-color: #dc3545;
}

#confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

#confirmation-modal .modal-content {
  background-color: #3a3939;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

#confirmation-modal h3 {
  margin-top: 0;
}

#confirmation-modal .modal-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmation-modal .modal-buttons button + button {
  margin-left: 10px;
}

#log-table tr.confirmed-delete {
  background-color: #ff7675;
}

