/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set a global font-family */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #fff;
  padding: 10%;
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 30px;
  height: 70px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
h5 {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  text-align: center;
  margin: 20px 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  text-align: center;
  margin: 0px 0;
  color: #fff;
  letter-spacing: 2px;
}


/* Style the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Style the textareas */
textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  resize: none;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #444;
}
/* Style the voice select dropdown */
#voice-select {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0 30px 0 10px;
  background-position: right 10px center;
}

#voice-select:focus {
  background-color: #444 !important;
}

/* Style the label and range sliders */
label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #007bff;
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
  margin-top: -5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

  /* Style the buttons */
  button {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
  background-color: #0062cc;
  }

/* Style the SSML buttons container */
.ssml-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Style the SSML buttons */
.ssml-buttons button {
  padding: 5px 10px;
  font-size: 14px;
  letter-spacing: 1px;
}
.error-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.error-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.error-modal-content h2 {
  margin-top: 0;
}

.error-modal-content button {
  margin-right: 10px;
}
